
.header{
  width: 100%;
  height: 70px;
  background-color: rebeccapurple;
  margin-left: 0px;
}

.app {
  font-size: 35px;
  margin-left: 50px;
  color: white;
  padding-top:20px;;
}

.login {
  font-size:20px;
  float: right;
  color:white;
  margin-right: 100px;
  padding-top:20px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
